.footer {
	background: #1c1e21;
	padding-top: 50px;
	padding-bottom: 50px;

	&__logos {
		margin: 0 -10px 30px -10px;
		padding: 0;
		font-size: 0;
		line-height: 0;
		text-align: center;
		list-style: none;
		overflow: hidden;

		> li {
			padding: 10px;
			width: 33.33%;
			display: inline-block;
		}
	}

	&__progress {
		margin: 0;
		padding: 35px 0;
		list-style: none;
		border-top: 2px solid #48494b;
		border-bottom: 2px solid #48494b;

		li {
			margin-bottom: 12px;
			@include flexbox();

			&:last-child {
				margin-bottom: 0;
			}

			strong {
				width: 50%;
				display: block;
				color: #d6dae0;
				font-weight: 600;
				font-size: 2.25rem;
				line-height: 2.5rem;
				padding-right: 8px;
				text-align: right;
				white-space: nowrap;
				font-family: $font-head;
			}

			span {
				width: 50%;
				display: block;
				color: #8e9196;
				font-weight: 300;
				padding-left: 8px;
				font-size: 0.875rem;
				line-height: 1.25rem;
			}
		}
	}

	&__nav {
		width: 260px;
		margin: 0 auto;
		font-size: 0;
		line-height: 0;
		padding: 45px 0 30px 0;
		list-style: none;
		@include flexbox();
		@include flex-wrap(wrap);

		li {
			width: 50%;
			color: #d6dae0;
			font-size: 1rem;
			font-weight: 300;
			line-height: 1.75rem;
			display: inline-block;

			&:nth-child(even) {
				padding-left: 20px;
			}

			a {
				color: #d6dae0;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&__logo {
		width: 176px;
		display: none;
		position: relative;
		margin: 53px auto 0 auto;

		&:before {
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			content: '';
			z-index: 100;
			position: absolute;
			display: block;
		}
	}

	&__about {
		color: #d6dae0;
		font-weight: 300;
		text-align: center;
		font-size: 0.875rem;
		line-height: 1.375rem;

		&_copy {
			display: block;
			margin-bottom: 5px;
		}

		&_nav {
			width: 250px;
			margin: 0 auto;
			padding: 0;
			font-size: 0;
			line-height: 0;
			list-style: none;

			> li {
				color: #d6dae0;
				font-weight: 300;
				font-size: 0.875rem;
				line-height: 1.375rem;
				display: inline-block;

				&:first-child {

					&:after {
						padding: 0 0.5rem;
						content: '|';
					}

				}

				a {
					color: #d6dae0;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 70px;

		&__logos {
			margin: 0 -10px 48px -5px;
			@include flexbox();
			@include justify-content(space-between);

			> li {
				width: auto;
				padding: 10px 5px;
				margin-bottom: 0;
			}
		}

		&__progress {
			@include flexbox();
			@include justify-content(space-between);

			li {
				@include flex-direction(column);

				strong {
					width: 100%;
					font-size: 3.25rem;
					line-height: 3.25rem;
					text-align: left;
				}

				span {
					width: 100%;
					font-size: 1.125rem;
					line-height: 1.625rem;
					padding-left: 0;
				}
			}
		}

		&__nav {
			width: 100%;
			display: block;
			text-align: center;

			li {
				width: auto;

				&:after {
					content: '|';
					padding: 0 0.625rem;
				}

				&:nth-child(even) {
					padding-left: 0;
				}

				&:last-child {

					&:after {
						display: none;
					}
				}
			}
		}

		&__logo {
			display: block;
		}

		&__about {

			&_nav {
				width: 100%;

				> li {

					&:last-child {

						&:before {
							padding: 0 0.5rem;
							content: '|';
						}
					}
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 80px;

		&__progress {
			padding: 43px 0;

			li {
				@include flex-direction(row);
				@include justify-content(left);

				strong {
					width: auto;
					padding-right: 8px;
				}

				span {
					width: auto;
					padding-left: 8px;
				}
			}
		}

		&__nav {
			padding-top: 52px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__progress {

			li {

				strong {
					font-size: 3.75rem;
					line-height: 3.75rem;
					padding-right: 10px;
				}

				span {
					line-height: 1.875rem;
					padding-left: 10px;
				}
			}
		}
	}
}